# ESILV - Python for data analysis - project 2022

In [1]:
#Import
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

%matplotlib inline
import seaborn as sns

In [2]:
#Charge the Dataset
df = pd.read_csv("SeoulBikeData.csv", encoding="latin1")
df.head()

,Date,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,01/12/2017,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,01/12/2017,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,01/12/2017,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,01/12/2017,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,01/12/2017,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes

# 1) Clear Data

Dataset : 1 years of rented bike

Target : Have the good renter number of bike by hours so we going to try linear regression

In [3]:
#Check is Nan value in the dataframe
check_for_nan = df.isnull().values.any()
print (check_for_nan)

False

In [4]:
#Create of a correlation array
df.corr().style.background_gradient(cmap='Blues')

In [5]:
#transform quantitative variable to vector
df['Functioning Day'].unique()
df['Functioning Day'] = df['Functioning Day'].replace(to_replace=['No', 'Yes'], value=[0, 1])

df['Holiday'].unique()
df['Holiday'] = df['Holiday'].replace(to_replace=['No Holiday', 'Holiday'], value=[0, 1])

df['Seasons'].unique()
df['Seasons'] = df['Seasons'].replace(to_replace=['Winter', 'Spring', 'Summer', 'Autumn'], value=[0, 1, 2, 3])

In [6]:
#transform date columns
df['Date']= pd.to_datetime(df['Date'],format='%d/%m/%Y').dt.date
df['Date'] = pd.to_datetime(df['Date'])

In [7]:
#Verif type of columns
df.dtypes

Date                         datetime64[ns]
Rented Bike Count                     int64
Hour                                  int64
Temperature(°C)                     float64
Humidity(%)                           int64
Wind speed (m/s)                    float64
Visibility (10m)                      int64
Dew point temperature(°C)           float64
Solar Radiation (MJ/m2)             float64
Rainfall(mm)                        float64
Snowfall (cm)                       float64
Seasons                               int64
Holiday                               int64
Functioning Day                       int64
dtype: object

In [9]:
df.head()

,Date,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,2017-12-01,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,0,0,1
1,2017-12-01,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,0,0,1
2,2017-12-01,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,0,0,1
3,2017-12-01,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,0,0,1
4,2017-12-01,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,0,0,1

# 2) Data-visualization

#Goal
#model1: linear regression + 2 var corr
#model2: linear regression + only 1 var of temp
#model3: linear regression + only 1 var of temp + scaling
#model4: Linear regression + scaling

In [20]:
#We create sum dataframe for scattler plot
df2 = df.groupby('Date').agg({'Rented Bike Count': ['sum'], 'Temperature(°C)': ['mean'], 'Humidity(%)': ['mean'], 'Wind speed (m/s)': ['mean'], 'Visibility (10m)': ['mean'], 'Dew point temperature(°C)': ['mean'], 'Solar Radiation (MJ/m2)': ['mean'], 'Rainfall(mm)': ['mean'], 'Snowfall (cm)': ['mean'], 'Seasons': ['mean'], 'Holiday': ['mean'], 'Functioning Day': ['mean']})
df2.head()

,Rented Bike Count,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
,sum,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean
Date,,,,,,,,,,,,
2017-12-01,9539,-2.454167,45.875000,1.537500,1870.750000,-13.545833,0.248750,0.000000,0.0,0,0,1.0
2017-12-02,8523,1.325000,61.958333,1.712500,1471.083333,-5.716667,0.263750,0.000000,0.0,0,0,1.0
2017-12-03,7222,4.875000,81.541667,1.612500,455.750000,1.883333,0.125417,0.166667,0.0,0,0,1.0
2017-12-04,8729,-0.304167,52.500000,3.450000,1362.833333,-9.925000,0.282917,0.004167,0.0,0,0,1.0
2017-12-05,8307,-4.458333,36.416667,1.108333,1959.458333,-17.425000,0.035833,0.000000,0.0,0,0,1.0

In [10]:
#Faire une ACP entre Temperature et Dew point temperature
#contribution des variables

#The variables Humidity , Rainfall and Snowfall
#Voir Screeplot

#Filter useless var of dataset
#find correlation with rented bike count
#uselesscolum = ['Humidity(%)','Dew point temperature(°C)']
#df.drop(uselesscolum,axis=1, inplace=True)
#df

#Faire un grid search pour comparer plusieur model
#faire l'api que pour le meillieur model
#ppt expliquer la démarche, pas bcp d'explications

In [12]:
#boosting = regression 
#random forest = classification